<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ store ? store.name : "Undefined store" }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets filter='cssrewrite,?yui_css' output='css/all.css'
           'bootstrap/css/bootstrap-cerulean.css'
           '@VespolinaStoreBundle/Resources/public/css/store.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {#{% stylesheets output='css/main.css' filter='cssrewrite,?yui_css' debug=true
           '@MopaBootstrapBundle/Resources/bootstrap/bootstrap.css'
           '@CompanyPersonalBundle/Resources/public/css/collateral.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"
           media="screen" />
        {% endstylesheets %}#}
        {% javascripts output='js/main.js' filter='?yui_js' debug=true
            'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
            '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
            '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
