<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ store ? store.name : "Undefined store" }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets filter='cssrewrite,?yui_css' output='css/all.css'
           'bootstrap/css/bootstrap.css'
           '@VespolinaStoreBundle/Resources/public/store.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {#{% stylesheets output='css/main.css' filter='cssrewrite,?yui_css' debug=true
           '@MopaBootstrapBundle/Resources/bootstrap/bootstrap.css'
           '@CompanyPersonalBundle/Resources/public/css/collateral.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"
           media="screen" />
        {% endstylesheets %}#}
        {#{% javascripts output='js/main.js' filter='?yui_js' debug=true
            'bundles/vespolinaetcbundle/js/jquery.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}#}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
