<a href="{{ path('vespolina_product_new') }}">New Product</a>
<div class="vespolina_product_product_list">
    <ul>
    {% for product in products %}
        <li><a href="{{ path('vespolina_product_show', {'id': product.id} ) }}">{{ product.name }}</a>
            <a href="{{ path('vespolina_product_edit', {'id': product.id} ) }}">[Edit]</a>
            <a href="{{ path('vespolina_product_delete', {'id': product.id} ) }}">[Delete]</a></li>
    {% endfor %}
    </ul>
</div>
